html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: green; /* временно чтоб видеть global */
    color: white;
    height: 100%;
    /overflow: hidden;
    font-family: 'Solomon Sans Normal';
}

h1, h2 {
    font-family: 'Solomon Sans Black'; 
    text-transform: uppercase;
}

h1 {
    font-size: 72px;
    line-height: 30px;
}

h2 {
    font-size: 48px;
    line-height: 20px;
}

button {
    cursor: pointer;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

.wrapper {
    max-width: 1308px;
    margin: 0 auto;
}

header {
    font-family: 'Solomon Sans Normal';
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 9;
    top: 2%; /* временный отступ */
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 164px;
}

.phone {
    font-size: 20px;
    line-height: 0px;
    width: 164px;
}

#phoneBtn {
    font-size: 16px;
    color: white;
    background-color: transparent;
    width: 164px;
    border-radius: 10px;
    height: 32px;
    border: 2px solid white;
}

#phoneBtn:hover {
    border-color: #ffa34c;
    color: #ffa34c;
}

#menuBtn {
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: none;
   / display: inline-block;
    /height: 40px;
}

#menuBtn:hover {
    color: #ffa34c;
}

.menu-hamburg {
    width: 32px;
    height: 2px;
    background-color: yellow;
    margin: 0px auto;
    margin-bottom: 10px;
}

.menu-hamburg::before {
    content: "";
    width: 22px;
    height: 2px;
    background-color: red;
    display: block;
}

.menu-hamburg::after {
    content: "";
    width: 22px;
    height: 2px;
    background-color: blue;
    display: block;
    margin-top: 3px;
}

#menuBtn:hover .menu-hamburg {
    background-color: #ffa34c;
}

/* */

.label-container {
    position: absolute;
    right: 22px;
    top: 50%;
    z-index: 9;
}

.label-container label {
    width: 16px;
    height: 16px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    border-color: transparent;
    transition: 0.5s ease all;
}

.label-container label::before {
    width: 10px;
    height: 10px;
    content: "";
    background-color: white;
    display: block;
    margin: 2px auto;
    box-sizing: border-box;
    border-radius: 50%;
}

#card1:checked ~ .label-container label[for="card1"]::before,
#card2:checked ~ .label-container label[for="card2"]::before,
#card3:checked ~ .label-container label[for="card3"]::before,
#card4:checked ~ .label-container label[for="card4"]::before{
    background-color: #ffa34c; 
} 

#card1:checked ~ .label-container label[for="card1"],
#card2:checked ~ .label-container label[for="card2"],
#card3:checked ~ .label-container label[for="card3"],
#card4:checked ~ .label-container label[for="card4"]{
    border-color: #ffa34c;
} 

#card1:checked ~ .card-container {
    transform: translateY(0%);
}

#card2:checked ~ .card-container {
    transform: translateY(-25%);
}

#card3:checked ~ .card-container {
    transform: translateY(-50%);
}

#card4:checked ~ .card-container {
    transform: translateY(-75%);
}

/* */

.arrow-container {
    width: 30px;
    height: 30px;
    border: 2px solid #e1d7d1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    margin-left: -15px;
    bottom: 45px;
    box-sizing: border-box;
    z-index: 9;
}

.arrow {
    height: 18px;
    width: 2px;
    background-color: #e1d7d1;
    margin: 0 auto;
    margin-top: 3px;
}

.arrow::before {
    width: 12px;
    height: 2px;
    content: "";
    display: block;
    background-color: #e1d7d1;
    transform: translate(-1px, 14px) rotate(-45deg);
}

.arrow::after {
    width: 12px;
    height: 2px;
    content: "";
    display: block;
    background-color: #e1d7d1;
    transform: translate(-9px, 11px) rotate(45deg);
}

/* */

.card-container {
    width: 100%;
    height: 400%; /* нужно 400% */
    display: block;
    box-sizing: border-box;
    transition: 0.5s ease all;
}

.card {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
}

.treatment-container .wrapper {
    /padding-top: 220px;
    padding-left: 60px;
    /height: 100%;
    box-sizing: border-box;
    display: block;
    font-family: 'Solomon Sans Normal';
    font-size: 18px;
    border: 1px solid red;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.treatment-container {
    background-image: url('images/treatment.png');
    background-size: cover;
    padding-top: 100px; /* отступ для header в соответствии с макетом */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
}

.treatment-container p {
    max-width: 350px;
}

#treatmentBtn {
    width: 187px;
    height: 37px;
    background-color: #47cae3;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 16.5px;
    outline: none;
}


/* Navigate card */

.part {
    width: 25%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    font-family: 'Solomon Sans Normal';
    color: white;
    text-decoration: none;
    float: left;
    padding-top: 100px; /* отступ для header в соответствии с макетом */
}

.spain {
    background-image: url('images/treatment.png');
    background-position: 66% 0;
}

.treatment {
    background-image: url('images/treatment-part.png');
    background-position: 0 -60px
}

.program {
    background-image: url('images/program.png');
    background-position: 0 -60px
    /*  изображение имеет не правильные прапорции, либо пустоты либо не целиком
    background-size: contain;
    background-repeat: no-repeat; */
}

.services {
    background-image: url('images/services.png');
}

/* костыли */
.part p {
    /margin-top: 75%;
}

.part .title {
    /margin-top: 80%;
}
/* */

/* Title */

.title {
    margin: 0;
    display: inline-block;
}

.title span {
    font-size: 24px;
    font-family: 'Solomon Sans Book';
    text-transform: capitalize;
    display: flex;
    width: 100%;
    align-items: center;
}

.title span::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #ffa34c;
    flex-grow: 1;
    margin-left: 13px;
}

h1 span::after {
    background-color: white !important;
    margin-left: 46px !important;
}

h1 span {
    font-size: 30px !important;
}


/* Advantages */

.advantage-container h2 {
    line-height: 40px;
    float: right;
}

.advantage-container {
    background-image: url('images/advantages.png');
    background-size: cover;
    padding-top: 100px; /* отступ для header в соответствии с макетом */
}

.slider {
    display: flex;
    flex-direction: column;
    max-width: 505px;
}

.advantage {
    background-repeat: no-repeat;
    height: 40px;
    margin: 30px 0;
    padding-left: 80px;
    font-size: 16px;
    line-height: 10px; /* костыль чтоб текст был по центру */
    cursor: pointer;
}

.advantage:hover {
    color: #ffa34c;
}

.advantage-title {
    text-transform: uppercase;
}

.note {
    background-image: url('images/note.png');
}

.suitcase {
    background-image: url('images/suitcase.png');
}

.wallet {
    background-image: url('images/wallet.png');
}

.man {
    background-image: url('images/man.png');
}

.balance {
    background-image: url('images/balance.png');
}

.active {
    height: 76px;
    padding-left: 130px;
    line-height: 20px;  /* костыль чтоб текст был по центру */
}

.active .advantage-title {
    font-size: 24px;
    /*font-family: 'Solomon Sans Bold';  почему-то не грузиться */
    margin-top: 1px;    /* костыль чтоб текст был по центру */
}
